

    /* font-family: 'Roboto', sans-serif;

	font-family: 'Roboto Mono', monospace; */
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Roboto', sans-serif;
	background-color: #ecf0f1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	min-height: 600px;
}

h1{
	text-align: center;
	font-size: 60px;
	letter-spacing: 2px;
	color: #c0392b;
	text-shadow: 2px 2px 1px rgba(0,0,0,0.6);
}

#explorateur{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 500px;
	min-height: 400px;
	font-family: 'Roboto Mono', monospace;
}
section#explorateur article{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
/*article.categoriesColonnes*/
article.categoriesColonnes{
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	background-color: #bdc3c7;
}
article.categoriesColonnes h5{
	font-size: 20px;
}
/* bloc résultat*/
article.resultatExplorateur{
	transition: all linear 0.4s;
	min-height: 39px;
}
article.resultatExplorateur:hover{
	color: #c0392b;
	cursor: pointer;
	transition: all linear 0.3s;
	background-color: white;
}

article.resultatExplorateur>p{
	width: 20%;
	text-align: center;
	
}
article.categoriesColonnes>div{
	width: 20%;
	display: flex;
	justify-content: center;
}
.resultatNom{
	font-size: 1.1em;
	font-weight: 700;
}

p.resultatType img{
	width: 34px;
}

article.headerExplorateur{
	display: flex !important;
	justify-content: space-around !important;
	height: 50px;
	align-items: center;
	background-color: #7f8c8d;
	color: white;
	border-top: 5px solid #2c3e50;
}
 div.tailleCourant{
	 width: 20%;
	 display: flex;
	 justify-content: center;
 }

 div.nomDossierCourant{
	 width: 60%;
	 display: flex;
	 justify-content: center;
 }
 h3.titreHeaderExplorateur{
	 font-size: 25px;
 }

div.retourParent{
	width: 20%;
}