#explorateur{
	display: flex;
	flex-direction: column;
	width: 100%;
	min-width: 500px;
	min-height: 400px;
}
section#explorateur article{
	display: flex;
	justify-content: space-between;
}
/* bloc résultat*/
article.resultatExplorateur:hover{
	color: red;
	cursor: pointer;
}
article.resultatExplorateur:active{
	background-color: blue;
}
article.resultatExplorateur>p{
	width: 20%;
	text-align: center;
}
article.categoriesColonnes>div{
	width: 20%;
	display: flex;
	justify-content: center;
}
.resultatNom{
	font-size: 1.1em;
	font-weight: 700;
}